#mobile,#monitor,#wrap,#add{
	border-style: solid;
	border-width: 1px;
}

#wrap {
	position: absolute;
	width: 1200px;
	margin: 20px;
	height: 800px;
}

#add{
	margin: 25.2px 63px 63px 63px;
	position: absolute;
	width:1008px;
	padding: 0px 10px 0px 10px;
}

#mobile {
	margin: 130px 63px 63px 63px;
	width: 152px;
}

#monitor {
	margin: 130px 63px 63px 63px;
	position: absolute;
	top: 0%;
	left: 378px;
	width: 630px;
	height: 600px;
}